# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/

# SQLite database
*.db

# Streamlit cache
.streamlit/

# LangGraph API folder
.langgraph_api/

# macOS
.DS_Store

*.env